# Useful Functions

This is a notebook that I will use just to write and explain some functions that I wrote to let my Analysis easier. It's important to say that I am not a ultra smart guy that knows everthing about data analysis and algorithm, I strongly believe that does't exist anyone like that, but who knows? So my codes won't be perfect and during my endless process of learning coding and algorithm I'll edit this note to let it "better".

### Function 1
#### Function that count the repetitions of any value of any column  based on the values of some previous column.

Well, i know it's hard to understand but imagine that i have a column of ages and other of gender. Then i want to know the value of how much each gender repeat for each age. So I use this function.

In [11]:
#chart is the DataFrame. # column1 is the comlumn tha we will use of base  # column2  is the repetitions column
def something_per_something(chart, column1, column2):
    dataframe = chart[[column1, column2]]
    column1_list = chart[column1].unique()
    column2_list = chart[column2].unique()
    columns_transpose = []
    for item1 in column1_list:
        item_dataframe = dataframe[dataframe[column1] == item1]
        columns_transpose_lines = []
        for item2 in column2_list:
            columns_transpose_lines.append(item_dataframe[item_dataframe[column2] == item2].size / 2)
        columns_transpose.append(columns_transpose_lines)
    
    final_dataframe = pd.DataFrame()
    final_dataframe[column1] = column1_list
    final_columns = np.transpose(np.array(columns_transpose))
    
    x = 0
    for i in final_columns:
        final_dataframe[column2_list[x]] = i
        x += 1
        
    return final_dataframe

##### Exemple

In [12]:
import pandas as pd
import numpy as np

Age_gender = pd.DataFrame({
    'age':[10,9,9,9,12,12,13,12,15,16,13,14,10],
    'gender':['male','female','male','female','female','female','male','male','male','female','male','female','male']
})
print('Original DataFrame')
display(Age_gender.head())
print()
print('Count of how much females and males are per each age DataFrame')
display(something_per_something(Age_gender, 'age', 'gender'))

Original DataFrame

   age  gender
0   10    male
1    9  female
2    9    male
3    9  female
4   12  female

Count of how much females and males are per each age DataFrame

   age  male  female
0   10   2.0     0.0
1    9   1.0     2.0
2   12   1.0     2.0
3   13   2.0     0.0
4   15   1.0     0.0
5   16   0.0     1.0
6   14   0.0     1.0