# Useful Functions

This is a notebook that I will use just to write and explain some functions that I wrote to let my Analysis easier. It's important to say that I am not a ultra smart guy that knows everthing about data analysis and algorithm, I strongly believe that does't exist anyone like that, but who knows? So my codes won't be perfect and during my endless process of learning coding and algorithm I'll edit this note to let it "better".

### Function 1
#### function that count the repetitions of some element and put in a values list. And brings the labels too.

It's a really simple function but is just a function done to be used to make some pizzas graphs.

In [25]:
def values_count(df, column):

    values = []
    labels = df[column].unique()
    for index in df[column].unique():
        values.append((df[column].value_counts()[index]))
    
    # you can take off this prints if you want to.
    print('Labels: ', labels)
    print('Repetition times: ', values)
        
    return( pd.DataFrame({'Labels':labels, 'Repetitions times':values}))

##### Exemple

In [26]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt

DF = pd.DataFrame({'Age':[12, 20, 21, 21, 21, 20, 15, 15, 15],
      'Name':['Cleber', 'Cleber','Cleber', 'Cleber', 'Cleber', 'Cleber', 'Juana', 'Juana', 'Marks']})
display(DF)

   Age    Name
0   12  Cleber
1   20  Cleber
2   21  Cleber
3   21  Cleber
4   21  Cleber
5   20  Cleber
6   15   Juana
7   15   Juana
8   15   Marks

In [29]:
display(values_count(DF, 'Name'))

Labels:  ['Cleber' 'Juana' 'Marks']
Repetition times:  [6, 2, 1]

   Labels  Repetitions times
0  Cleber                  6
1   Juana                  2
2   Marks                  1

So we can see that the name Cleber appears six times, Juana two times and Marks one time

### Function 2
#### Function that count the repetitions of any value of any column  based on the values of some previous column.

Well, i know it's hard to understand but imagine that i have a column of ages and other of gender. Then i want to know the value of how much each gender repeat for each age. So I use this function.

In [1]:
#df is the DataFrame. # column1 is the comlumn that we will use of base  # column2  is the repetitions column

def something_per_something(df, column1, column2):
    dataframe = df[[column1, column2]]
    column1_list = (df[column1].unique())
    column2_list = (df[column2].unique())
    columns_transpose = []
    for item1 in column1_list:
        item_dataframe = dataframe[dataframe[column1] == item1]
        columns_transpose_lines = []
        for item2 in column2_list:
            columns_transpose_lines.append(item_dataframe[item_dataframe[column2] == item2].size / 2)
        columns_transpose.append(columns_transpose_lines)
    
    final_dataframe = pd.DataFrame()
    final_dataframe[column1] = column1_list
    final_columns = np.transpose(np.array(columns_transpose))
    
    x = 0
    for i in final_columns:
        final_dataframe[column2_list[x]] = i
        x += 1
        
    return final_dataframe

##### Exemple

In [3]:
import pandas as pd
import numpy as np

Age_gender = pd.DataFrame({
    'age':[10,9,9,9,12,12,13,12,15,16,13,14,10],
    'gender':['male','female','male','female','female','female','male','male','male','female','male','female','male']
})
print('Original DataFrame')
display(Age_gender)
print()
print('Count of how much females and males are per each age DataFrame')
display(something_per_something(Age_gender, 'age', 'gender'))

Original DataFrame

    age  gender
0    10    male
1     9  female
2     9    male
3     9  female
4    12  female
5    12  female
6    13    male
7    12    male
8    15    male
9    16  female
10   13    male
11   14  female
12   10    male

Count of how much females and males are per each age DataFrame

   age  female  male
0    9     2.0   1.0
1   10     0.0   2.0
2   12     2.0   1.0
3   13     0.0   2.0
4   14     1.0   0.0
5   15     0.0   1.0
6   16     1.0   0.0